<h1>Welcome To Your Gaming Catalog!</h1>
<h3>This application allows you to create a record of games that you have played or currently playing!</h3>
<% if !user_signed_in? %>
    <h3><%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %></h3>
<% end %>

<% if user_signed_in? %>
    <h3><button><%= link_to "Add Game", new_game_path %></button></h3>
<% end %>

<nav>
    <ul>
        <% if !user_signed_in? %>
            <li><button><%= link_to 'Sign Up', new_user_registration_path %></button></li>
            <li><button><%= link_to 'Log In', new_user_session_path %></button></li>
        <% else %>
            <li><button><%= link_to 'View Current Games', games_path %></button></li>
            <br>
        <% end %>
    </ul>
</nav>   
