<% if @category %>
    <hr>
    <h2> <%= @category.name %> Games: </h2>
<% else %>
    <hr>
    <h2>My Games: </h2>
<% end %>

<% @games.each do |g| %>
    <%= link_to g.title, game_path(g) %><br>
<% end %>
<br>
<br>
<% if @category %>
    <button><%= link_to "Add Game",  new_category_game_path(@category) %></button>
<% else %>
    <button><%= link_to "Add Game",  new_game_path %></button>
<% end %>
<br>
<br>
<button><%= link_to 'View Categories', categories_path %></button>