<h1><%= @game.title %></h1>

<p>Release Year:</p>
<li><%= @game.release_year %></li><br>

<p>Hours Played:</p>
<li><%= @game.hours_played %></li><br>

<p>Online Multiplayer:</p>
<li><%= @game.online_multiplayer %></li><br>

<p>Campaign:</p>
<li><%= @game.campaign %></li><br>

<p>Campaign Completed?:</p>
<li><%= @game.campaign_completed %></li><br>

<p>Category:</p>
<li><%= @game.category.name %></li><br>

<button><%= link_to 'Edit', edit_game_path %></button>
<br>
<br>
<br>
<button><%= link_to 'Delete Game', @game, method: :delete %></button>
<br>
<br>
<br>
<button><%= link_to 'Back', games_path %></button>