<h1><%= @category.name %></h1>

    <h3>My <%= @category.name %> Games:</h3>
    <button><%= link_to 'See Games', category_games_path(@category) %></button>

<br>
<br>
<button><%= link_to 'Back', root_path %></button>
<br>
<button><%= link_to 'Delete Category', @category, method: :delete %></button>

<br>
<br>
<%= render 'layouts/nav' %>